ul {
    list-style-type: none;
}

li{
    margin: 0% 0 7.5%;
}

#about{
    background-color: brown;
    margin-left: -8px;
    margin-right: -10px;
    text-align: center;
}

#about h1{
    margin-top: -1.3%;
}

#todolist form, input{
    text-align: center;
}

#todolist input{
    width: 250px;
    margin-bottom: 1%;
}

#todolist #buttons{
    display: table-row;
    text-align: center;
    max-width: 25vh;
}

#todolist button{ 
    margin-bottom: 2%;
}

#todolist #todolistContainer{
    display: flex;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-papel-desenhado-a-mao-com-revestimento-azul_23-2151090708.jpg");
    background-repeat: repeat;
}


#todolist #todo ul, #todolist #doing ul, #todolist #done ul{
    border-radius: 20px;
    margin: 15px auto; 
    text-align: center; 
    padding: 10px;
    width: 30vh;
}

#todolist #todo ul{
    background-color: rgb(195, 55, 55);

}

#todolist #doing ul{
    background-color: rgb(195, 190, 30);

}

#todolist #done ul{
    background-color: rgb(55, 195, 55);

}

#formEdit{
    display: none;
}